* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 156, 156);
}
#card {
    height: 400px;
    width: 300px;
    background-color: azure;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}
#card img {
    height: 55%;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
h1{
    font-size: 25px;
    margin: 10px 0;
    font-weight: 700;
}
#card h5{
    font-size: 25px;
    color: red;
    margin:20px;
}
#card button{
    background-color: blue;
    font-weight: 700;
    color: white;
    padding:12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;


}
#card #remove{
    color: black;
    background-color: #dadada;
}